header {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

header #header-container {
  background-color: #1e1d20;
  width: 100%;
  max-width: 1200px;
  height: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
}

header #header-container #logo {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  text-align: center;
}

header #header-container #logo:hover {
  cursor: pointer;
}

header #header-container .menu-item {
  display: inline-block;
  font-size: 16px;
  width: 20%;
  text-align: center;
  height: 50px;
  vertical-align: top;
}

header #header-container .menu-item span {
  display: none;
}

header #header-container .menu-item i {
  font-size: 1.2em;
}

header #header-container .menu-item form * {
  font-family: inherit;
  box-sizing: border-box;
}

header #header-container .menu-item .bookmark {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  margin: auto;
  background-color: #ededed;
  width: 100%;
  max-width: 1200px;
}

header #header-container .menu-item .bookmark span {
  display: inline;
}

header #header-container .menu-item .bookmark p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1em !important;
}

header #header-container .menu-item .bookmark a {
  color: #000;
  display: block;
  line-height: 1em !important;
}

header #header-container .menu-item .show-form {
  display: block !important;
}

header #header-container .menu-item .form-style {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
}

header #header-container .menu-item .form-style input[type="text"], header #header-container .menu-item .form-style input[type="email"], header #header-container .menu-item .form-style input[type="password"] {
  display: inline-block;
  width: 100%;
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 5px;
}

header #header-container .menu-item .form-style input[type="submit"] {
  border: 1px solid #000;
  padding: 5px;
  width: 100%;
  min-width: 100px;
  background-color: #A19B88;
}

header #header-container .menu-item .form-style input[type="submit"]:hover {
  cursor: pointer;
  background-color: #908A77;
}

header #header-container .menu-item #form-login input[type="text"], header #header-container .menu-item #form-login input[type="email"], header #header-container .menu-item #form-login input[type="password"] {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

header #header-container .menu-item #form-login input[type="submit"] {
  width: 50%;
}

header #header-container .menu-item:hover {
  color: #000;
  background-color: #ededed;
}

header #header-container .menu-item:hover .bookmark {
  display: inline-block;
}

header #header-container .menu-item-nav-mini {
  display: inline-block;
}

header #header-container .menu-item-nav-mini #nav-mini-icon {
  display: inline-block;
  position: relative;
  top: 5px;
  height: 22px;
}

header #header-container .menu-item-nav-mini #nav-mini-icon div {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 35px;
  height: 4px;
  background-color: #ededed;
}

header #header-container .menu-item-nav-mini #nav-mini-icon div:nth-child(2) {
  top: 5px;
}

header #header-container .menu-item-nav-mini #nav-mini-icon div:nth-child(3) {
  top: 10px;
}

header #header-container .menu-item-nav-mini:hover {
  cursor: pointer;
}

header #header-container .menu-item-nav-mini:hover #nav-mini-icon div {
  background-color: #000;
}

header #header-container button {
  width: 50%;
  padding: 5px;
  margin: 0;
  border: 1px solid #000;
  background-color: #A19B88;
  font-family: inherit;
}

header #header-container button:hover {
  cursor: pointer;
  background-color: #908A77;
}

header nav {
  display: block;
  width: 200px;
  background-color: #A19B88;
  position: fixed;
  top: 0;
  right: -200px;
  height: 100%;
  z-index: 20;
  font-size: 16px;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 50px 0;
}

header nav ul li {
  text-transform: uppercase;
  display: block;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ededed;
}

header nav ul li:first-child {
  border-top: 1px solid #ededed;
}

header nav ul li:hover {
  cursor: pointer;
  background-color: #908A77;
}

header nav ul li:hover .subcat {
  display: block;
}

header nav ul li .subcat {
  display: none;
  list-style-type: none;
  padding: 0;
  background-color: #908A77;
}

header nav ul li .subcat li {
  text-transform: none;
}

header nav ul li .subcat li:hover {
  background-color: #807966;
}

.nav-mini-clicked {
  background-color: #A19B88 !important;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  top: 50px;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #2d2e30;
}

.container {
  position: relative;
  left: 0;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}

.container-shift {
  left: -200px !important;
}

.nav-shift {
  right: 0 !important;
}

#content {
  margin-top: 50px;
  position: relative;
  padding: 20px 0;
  max-width: 1200px;
}

#content .product {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 200px;
  height: 250px;
  margin: 10px 10px;
  color: #3E3F41;
}

#content .product a {
  color: #3E3F41;
  display: inline-block;
  height: 80%;
  width: 100%;
  background-color: #ededed;
}

#content .product .product-info {
  height: 20%;
  background-color: #cbcbcb;
}

#content .product .product-info .product-cost {
  position: absolute;
  bottom: 3px;
  right: 75px;
}

#content .product .product-info .product-name {
  position: absolute;
  bottom: 20px;
  right: 75px;
}

#content .product .product-info .product-buy-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 60px;
  height: 30px;
  border: 1px solid #000;
  background-color: #A19B88;
}

#content .product .product-info .product-buy-button:hover {
  cursor: pointer;
  background-color: #908A77;
}

#content .product:hover {
  cursor: pointer;
}

#content .adminpanel-container {
  font-size: 0;
}

#content .adminpanel-container .adminpanel-menu {
  display: inline-block;
  width: 19%;
  vertical-align: top;
  background-color: #ededed;
  font-size: 16px;
  margin-right: 1%;
}

#content .adminpanel-container .adminpanel-menu ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#content .adminpanel-container .adminpanel-menu ul li {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1.1em;
  line-height: 40px;
  border-bottom: 1px solid #dcdcdc;
}

#content .adminpanel-container .adminpanel-menu ul li a {
  color: #3E3F41;
}

#content .adminpanel-container .adminpanel-menu ul li:hover {
  background-color: #A19B88 !important;
  border-bottom: 1px solid #A19B88;
}

#content .adminpanel-container .adminpanel-content {
  display: inline-block;
  width: 80%;
  background-color: #ededed;
  color: #3E3F41;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#content .information-container {
  border-bottom: 1px solid #dcdcdc;
}

#content .border-bottom {
  border-bottom: 1px solid #dcdcdc;
}

footer {
  text-align: center;
  background-color: #1e1d20;
  padding: 15px;
  line-height: 100px;
  margin: 0;
}

@media (min-width: 1200px) {
  #content {
    margin: 100px auto;
  }
  header {
    height: 100px;
  }
  header #header-container {
    height: 100px;
  }
  header #header-container .menu-item {
    position: absolute;
    top: 0;
    z-index: 10;
  }
  header #header-container .menu-item span {
    display: inline;
  }
  header #header-container #logo {
    width: 200px;
    display: block;
  }
  header #header-container .menu-item-search {
    position: absolute;
    left: 201px;
    width: 400px;
  }
  header #header-container .menu-item-search i {
    display: none;
  }
  header #header-container .menu-item-search .bookmark {
    top: 0;
    display: inline-block;
    background-color: #1e1d20 !important;
    border: none;
  }
  header #header-container .menu-item-search .bookmark * {
    padding: 0;
    margin: 0;
  }
  header #header-container .menu-item-search input[type="text"] {
    width: 250px !important;
  }
  header #header-container .menu-item-search input[type="submit"] {
    width: 75px !important;
  }
  header #header-container .menu-item-login {
    right: 201px;
    width: 200px;
  }
  header #header-container .menu-item-login input[type="text"], header #header-container .menu-item-login input[type="submit"], header #header-container .menu-item-login button {
    width: 80% !important;
  }
  header #header-container .menu-item-basket {
    right: 0;
    width: 200px;
  }
  header #header-container .menu-item-nav-mini {
    display: none;
  }
  header #header-container .form-style {
    border-bottom: none !important;
  }
  header #header-container nav {
    width: 1200px !important;
    height: 50px !important;
    display: inline-block;
    background-color: #1e1d20 !important;
    border-top: 1px solid #cbcbcb;
    position: relative;
    left: 0;
    z-index: 1 !important;
  }
  header #header-container nav ul {
    padding: 0;
  }
  header #header-container nav ul li {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    border: none;
  }
}

@media (min-width: 800px) {
  .product-container .product-image {
    width: 45% !important;
    margin: 0;
  }
  .product-container .product-param {
    display: inline-block;
    vertical-align: top;
    width: 45% !important;
    color: #3E3F41;
    background-color: white;
  }
  .product-container .product-param h1 {
    text-align: right;
  }
  .product-container .product-param .product-price {
    text-align: left;
  }
  .product-container .product-param .product-to-basket {
    text-align: left;
  }
  .product-container .product-param .product-availability {
    text-align: right;
  }
  .product-container .product-param .product-size {
    text-align: left;
  }
}

.pagination {
  list-style: none;
  color: #1e1d20;
  font-weight: bold;
  margin: 10px;
}

.pagination a {
  color: #1e1d20;
}

.pagination li {
  display: inline-block;
  padding: 10px;
  font-size: 1.1em;
}

.pagination .disabled {
  color: #ededed;
}

.pagination .active {
  color: #A19B88;
}

.link-color-dark {
  color: #3E3F41;
}

.link-color-bright {
  color: #ededed;
}

.link-default {
  text-decoration: none;
}

.product-container {
  text-align: center;
}

.product-container .product-image {
  display: inline-block;
  width: 95%;
}

.product-container .product-image img {
  width: 100%;
}

.product-container .product-param {
  padding: 0 10px;
  width: 95%;
  height: 100%;
  display: inline-block;
  border-bottom: 1px solid #ededed;
}

.product-container .product-param h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 3em;
  text-transform: uppercase;
}

.product-container .product-param .product-price {
  font-size: 1.5em !important;
}

.product-container .product-param .product-price span {
  font-size: 2em;
}

.product-container .product-param .product-availability {
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.product-container .product-param .product-size {
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.product-container .product-param .product-to-basket i {
  margin-right: 5px;
}

.product-container .product-param .product-to-basket button {
  padding: 8px;
  margin: 15px 0;
  font-size: 1.2em;
  border: none;
  background-color: #A19B88;
  font-family: inherit;
}

.product-container .product-param .product-to-basket button:hover {
  cursor: pointer;
  background-color: #908A77;
}

.table-standard {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-standard tr {
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
}

.table-standard tr td {
  height: 25px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.table-standard tr:nth-child(even) {
  background-color: #cbcbcb;
}

/*# sourceMappingURL=app.css.map */
