$color-white: #fff;
$color-black: #000;
$color-grey: #ededed;
$color-grey2: #dcdcdc;
$color-grey3: #cbcbcb;
$color-winternight: #3E3F41;
$color-winternight2: #2d2e30;
$color-winternight3: #1e1d20;
$color-winternight0: #4F4F52;
$color-winternight00: #5F5F63;
$color-imdur: #F7F7F7;
$color-imdur2: #E6E6E6;
$color-brown: #A19B88;
$color-brown2: #908A77;
$color-euphoria: #C8c8a9;
$color-euphoria2: #B7b7a8;
$color-baloons: #83af9b;

$color-menu-hover: #908A77;
$color-submenu-hover: #807966;