$max-width: 1200px;
$header-height: 50px;

header 
{
	width: 100%; 
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	height: $header-height;
	line-height: $header-height;
	font-size: 0;
	position: fixed;
	top: 0;
	z-index: 10;
	
	#header-container {
		background-color: $color-winternight3;
		width: 100%;
		max-width: $max-width;
		height: $header-height;
		display: inline-block;
		position: relative;
		text-align: center;

		#logo {
			display: inline-block;
			width: 20%;
			font-size: 16px;
			text-align: center;

			&:hover
			{
				cursor: pointer;
			}
		}

		.menu-item {
			display: inline-block;
			font-size: 16px;
			width: 20%;
			text-align: center;
			height: $header-height;
			vertical-align: top;
			
			span {
				display: none;
			}

			i {
				font-size: 1.2em;
			}

			form {
				* {
					font-family: inherit;
					box-sizing: border-box;
				}
			}

			.bookmark 
			{
				display: none;
				position: absolute;
				top: 50px;
				left: 0;
				margin: auto;
				background-color: $color-grey;
				width: 100%;
				max-width: $max-width;

				span {
					display: inline;
				}

				p {
					margin: 0 !important;
					padding: 0 !important;
					line-height: 1em !important;
				}

				a {
					color: $color-black;
					display: block;
					line-height: 1em !important;
				}
			}

			.show-form {
				display: block !important;
			}

			.form-style {
				padding: 5px;
				text-align: center;
				border-bottom: 1px solid $color-grey3;

				input[type="text"], input[type="email"], input[type="password"] 
				{
					display: inline-block;
					width: 100%;
					border: 1px solid $color-black;
					padding: 5px;
					margin-bottom: 5px;
				}

				input[type="submit"] 
				{
					border: 1px solid $color-black;
					padding: 5px;
					width: 100%;
					min-width: 100px;
					background-color: $color-brown;

					&:hover
					{
						cursor: pointer;
						background-color: $color-brown2;
					}
				}
			}

			#form-login {
				input[type="text"], input[type="email"], input[type="password"] 
				{
					display: block;
					margin-right: auto;
					margin-left: auto;
				}

				input[type="submit"] 
				{
					width: 50%;
				}
			}

			&:hover
			{
				color: $color-black;
				background-color: $color-grey;

				.bookmark 
				{
					display: inline-block;
				}
			}
		}

		.menu-item-nav-mini
		{
			display: inline-block;

			#nav-mini-icon 
			{
				display: inline-block;
				position: relative;
				top: 5px;
				height: 22px;
				
				div 
				{
					margin: 0;
					padding: 0;
					display: block;
					position: relative;
					width: 35px;
					height: 4px;
					background-color: $color-grey;

					&:nth-child(2) 
					{
						top: 5px;
					}

					&:nth-child(3) 
					{
						top: 10px;
					}
				}
			}

			&:hover
			{
				cursor: pointer;

				#nav-mini-icon
				{
					div
					{
						background-color: $color-black;
					}
					
				}
			}
		}

		button 
		{
			width: 50%;
			padding: 5px;
			margin: 0;
			//margin-top: 10px;
			border: 1px solid $color-black;
			background-color: $color-brown;
			font-family: inherit;

			&:hover
			{
				cursor: pointer;
				background-color: $color-brown2;
			}
		}
	}

	@import 'navbar';
}

.nav-mini-clicked
{
	background-color: $color-brown !important;
}
