$header-height: 50px;
$menu-item-logo-width: 20%;
$search-bar-width: 40%;

header 
{
	width: 100%;
	max-width: $max-width;
	margin: auto; 
	height: $header-height;
	line-height: $header-height;
	font-size: 0;
	z-index: 10;
	position: relative;

	#menu-container {
		width: 100%;
		max-width: $max-width;
		margin: auto;
		position: relative;

		.menu-item {
			font-size: 16px;
			display: inline-block;
			background-color: $color-grey;
			height: $header-height;
			text-align: center;
		}

		.menu-item-logo {
			width: $menu-item-logo-width;
			background-color: $color-grey;
			vertical-align: top;
		}

		.right-container {
			display: inline-block;
			position: relative;
			width: 100% - $menu-item-logo-width;
			font-size: 0;

			.menu-item-icon {
				display: inline-block;
				height: $header-height;
				width: calc(100%/3);
				font-size: 20px;
				vertical-align: top;

				span {
					display: none;
				}

				&:hover {
					background-color: $color-brown;
					cursor: pointer;
				}
			}
		}

		.menu-item-nav {
			position: relative;
			top: 15px;
			height: 22px;

			div {
				margin: auto;
				padding: 0;
				display: block;
				position: relative;
				width: 35px;
				height: 4px;
				background-color: black;

				&:nth-child(2) {
					top: 5px;
				}

				&:nth-child(3) {
					top: 10px;
				}
			}
		}

		.search-bar {
			display: inline-block;
			text-align: center;
			width: 100%;
			margin: auto;
			height: $header-height;
			box-sizing: border-box;
			padding: 5px;
			vertical-align: middle;
		}
	}

	.cart-price {
		font-size: 0.8em;
	}
}

@media(min-width: $middle-width) {
	#menu-container {
		.right-container {
			.menu-item-icon {
				span {
					display: inline !important;
					font-size: 0.9em;
				}
			}
		}
	}
}

@media(min-width: $max-width) {
	header {
		#menu-container {
			.right-container {
			    width: 100% - $menu-item-logo-width - $search-bar-width;
				position: absolute;
				right: 0;

				.menu-item-icon {
					width: 50%;
				}
			}

			.menu-item-icon-nav {
				display: none !important;
			}

			.search-bar {
				position: relative;
				width: $search-bar-width;
				background-color: $color-grey;
			}
		}
	}
}

