nav {
	display: block;
	width: 200px;
	background-color: $color-brown;
	text-align: center;
	position: absolute;
	top: 0;
	right: -200px;
	z-index: 100;
	font-size: 15px;
	height: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding: 50px 0;
		
		li {
			text-transform: uppercase;
			display: block;
			line-height: 50px;
			text-align: center;
			border-bottom: 1px solid $color-grey;

			&:first-child {
				border-top: 1px solid $color-grey;
			}

			&:hover {
				cursor: pointer;
				background-color: $color-menu-hover;

				.subcat {
					display: block;
				}
			}

			.subcat {
				display: none;
				list-style-type: none;
				padding: 0;
				background-color: $color-menu-hover;

				li {
					text-transform: none;
					&:hover {
						background-color: $color-submenu-hover;
					}
				}
			}
		}
	}
}

.nav-transiotion {
	transition: right 0.2s linear;
}

@media(min-width: $max-width) {
	nav{
		margin: auto;
		position: relative;
		right: 0;
		width: $max-width !important;
		height: 50px !important;
		display: block;
		z-index: 1 !important;

		ul {
			padding: 0;

			li {
				display: inline-block;
				vertical-align: top;
				width: 150px;
				border: none;

				&:first-child {
					border-top: none;
				}
			}
		}
		
	}
}