.product-list {
	text-align: center;
	margin: auto;
	z-index: 0;

	.product {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 250px;
		height: 315px;
		margin: 10px 10px;
		vertical-align: top;
		border: 1px solid $color-grey;
		
		* {
			box-sizing: border-box;
		}

		h2, h3 {
			margin: 5px;
		}

		img {
			width: 250px;
			height: 250px;
			margin: 0;
		}

		a {
			color: $color-winternight;
			display: inline-block;
			width: 100%;
			margin: 0;
		}
		
		.product-image {
			height: 250px;
		}

		.product-info {
			height: 60px;
			background-color: $color-grey;
			margin: 0;
			color: $color-winternight;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

