.product {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 200px;
	height: 250px;
	margin: 10px 10px;
	color: $color-winternight;
	
	a {
		color: $color-winternight;
		display: inline-block;
		height: 80%;
		width: 100%;
		background-color: $color-grey;
	}

	.product-info {
		height: 20%;
		background-color: $color-grey3;

		.product-cost {
			position: absolute;
			bottom: 3px;
			right: 75px;
		}

		.product-name {
			position: absolute;
			bottom: 20px;
			right: 75px;
		}
	}

	&:hover {
		cursor: pointer;
	}
}