@import 'colors';
@import 'header';
@import 'navbar';

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: 'Dosis', sans-serif;
	font-size: 16px;

	a {
		text-decoration: none;

		&:visited {
			color: inherit;
		}
	}
}

.container {
	height: 100%;
	position: relative;
	left: 0;
	transition: left 0.2s linear;
	z-index: 0;
	//overflow-x: hidden;
	
}

.container-shift {
	left: -200px !important;
}

#content {
	position: relative;
	margin-top: 50px;
	padding: 20px 0;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 0;

	@import 'products';
	@import 'products/show';
	@import 'products/filter';
}

footer {
	text-align: center;
	background-color: $color-winternight3;
	padding: 15px;
	line-height: 100px;
	margin: 0;
}

// Pagination
.pagination {
	list-style: none;
	color: $color-winternight3;
	font-weight: bold;
	margin: 10px;
	
	a {
		color: $color-winternight3;
	}

	li {
		display: inline-block;
		padding: 10px;
		font-size: 1.1em;
	}

	.disabled {
		color: $color-grey;
	}

	.active {
		color: $color-brown;
	}
}

// Links
.link-color-dark {
	color: $color-winternight;
}

.link-color-bright {
	color: $color-grey;
}

.link-default {
	text-decoration: none;
}

.link-margin {
	margin-bottom: 5px;
}

.icons {
	font-family:fontello !important;
}

.cart-trash {
	border: none;
	background-color: inherit;
	font-size: 1.5em;
	color: $color-brown;
}

.bookmark-cart {
	table {
		width: 100%;
		display: block;
		border-collapse: collapse;
		margin-bottom: 10px !important;

		tr {
			width: 100%;
			td {
				margin: 0;
				border-bottom: 1px solid $color-grey2;
			}
		}
	}

	a {
		&:focus {
			text-decoration: underline !important;
		}
	}
}

@media(min-width: $max-width) {
	#content {
		margin-top: 0px;
	}
}

.invisible {
	display: none !important;
}