
.icon-search:before { content: '\e800'; } /* '' */
.icon-plus-1:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-cancel-1:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */