.filter-container {
	width: 100%;
	background-color: $color-grey;
	color: $color-winternight;
	box-sizing: border-box;
	padding-bottom: 10px;

	input[type="text"] {
		padding: 5px;
		font-size: 1.0em;
		font-family: $font-default;
		display: inline-block;
		height: 30px;
		width: 100px;
		box-sizing: border-box;
	}
}

.filter-button {
	margin-left: 10px;
	margin-top: 10px;
}