$width: 300px;

.product-container {

	text-align: center;

	.product-image {
		display: inline-block;
		width: 95%;

		img {
			width: 100%;
		}
	}

	.product-param {

		padding: 0 10px;
		width: 95%;
		height: 100%;
		display: inline-block;
		border-bottom: 1px solid $color-grey;
 
		h1 {
			margin-top: 5px;
			margin-bottom: 10px;
			font-size: 3em;
			text-transform: uppercase;
		}
		
		.brand-name {
			font-size: 1.5em;
			margin-bottom: 15px;
		}

		.product-availability {
			padding-bottom: 15px;
			margin-bottom: 15px;
			width: 100%;
			border-bottom: 1px solid $color-grey;
		}

		.product-price {
			font-size: 1.5em !important;
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $color-grey;

			span {
				font-size: 2em;
			}
		}

		.product-size {
			padding-bottom: 15px;
			margin-bottom: 15px;
			width: 100%;
			border-bottom: 1px solid $color-grey;
		}
			
		.product-to-basket {
			margin-bottom: 15px;
		}
	}
}

@media (min-width: $max-width) {
	.product-container{

		.product-image {
			width: 45% !important;
			height: 45% !important;
			margin: 0;
		}
		.product-param {
			display: inline-block;
			vertical-align: top;
			width: 45% !important;
			color: $color-winternight;
			background-color: white;
			
			h1 {
				text-align: right;
			}

			.product-price, .product-to-basket, .product-size {
				text-align: left;
			}

			.brand-name, .product-availability {
				text-align: right;
			}
		}
	}
}